@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2 col-md-offset-10" style="margin-bottom: 20px;">
        <div id="gender" class="btn-group">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Профиль", "Login", "Account", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Выйти", "Register", "Account", null, new { @class = "btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("Авторизация", "Login", "Account", null, new { @class = "btn btn-default" })
                @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class = "btn btn-primary" })
            }
        </div>
    </div>
</div>


<div style="background: transparent url('http://i-exam.ru/sites/all/themes/niimko/images/portal_new.jpg') no-repeat top center fixed; height: 480px;">
    <h2 class="col-md-3 col-md-offset-1" style="margin-top: 162px;font-size: 35px;font-weight: 300;">
        Оценка и мониторинг образовательных достижений студентов
    </h2>
</div>


<div style="background: transparent url('http://i-exam.ru/sites/all/themes/niimko/images/sky-3_optimize.jpg') no-repeat top center; height: 200px;    background-size: cover;">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 class="center" style="font-size: 36px;color: white;margin-top: 30px;">
            <center>
                Возможности системы
            </center>
        </h2>
    </div>
</div>