@model CkeckIn.Models.Questions.Test.Abstract.TestViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12 col-xs-12">
        @Html.Partial("Index/ThreadSelector", Model.ThreadListItems)
        @Html.Partial("Index/TestTable", Model.TestViews)
    </div>
</div>
                
