@model CkeckIn.Models.PageDescriptionView

<div class="col-md-4 col-xs-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <i class="fa fa-bell"></i>
                @Model.Title
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <p>
                @Model.Messsage
            </p>
        </div>
    </div>
</div>
